services:
  redis:
    container_name: redis
    ports:
      - 6379:6379
    restart: always
    image: redis:latest

  smtp4dev:
    container_name: smtp4dev
    ports:
      - 3000:80
      - 25:25
    restart: always
    image: rnwood/smtp4dev

  azurite:
    container_name: azurite
    ports:
      - 10000:10000
      - 10001:10001
      - 10002:10002
    volumes:
      - azurite_data:/data
    restart: always
    image: mcr.microsoft.com/azure-storage/azurite:latest
    command: azurite -l /data --blobHost 0.0.0.0 --queueHost 0.0.0.0 --tableHost 0.0.0.0

  sql:
    container_name: sql
    ports:
      - 1433:1433
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${SQL_SA_PASSWORD}
    user: root
    hostname: localhost
    volumes:
      - sql_data:/var/opt/mssql/data
      - sql_log:/var/opt/mssql/log
    restart: always
    image: mcr.microsoft.com/mssql/server:2025-latest

  rabbitmq:
    container_name: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USERNAME}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
    restart: always
    image: rabbitmq:management-alpine

  watchtower:
    container_name: watchtower
    environment:
      - WATCHTOWER_UPDATE_ON_START=true
      - WATCHTOWER_CLEANUP=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    image: nickfedor/watchtower:latest

  cosmos:
    container_name: cosmos
    ports:
      - 8081:8081
      - 10250-10255:10250-10255
    environment:
      - AZURE_COSMOS_EMULATOR_ENABLE_DATA_PERSISTENCE=true
    restart: always
    image: mcr.microsoft.com/cosmosdb/linux/azure-cosmos-emulator:latest

  stirling-pdf:
    container_name: stirling-pdf
    ports:
      - 8080
    restart: always
    image: docker.stirlingpdf.com/stirlingtools/stirling-pdf:latest

  ollama:
    container_name: ollama
    ports:
      - 11434:11434
    volumes:
      - ollama_data:/root/.ollama
    restart: always
    image: ollama/ollama:latest
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  open-webui:
    container_name: open-webui
    ports:
      - 8080
    environment:
      - WEBUI_AUTH=False
    volumes:
      - open_webui_data:/app/backend/data
    restart: always
    image: ghcr.io/open-webui/open-webui:main
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    extra_hosts:
      - host.docker.internal:host-gateway
    depends_on:
      - ollama

volumes:
  sql_data:
  sql_log:
  azurite_data:
  ollama_data:
  open_webui_data:
